.slider {
  overflow-x: hidden;
  position: relative;
}
:root {
  --index: 0;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.slider-item {
  width: 100vw;
  transform: translateX(calc(var(--index) * -100vw));
  flex-shrink: 0;
  transition: transform .8s ease;
}
.slider-link {
  display: block;
  text-decoration: none;
  color: #111;

  & .content {
    display: flex;

  }

  & img {
    display: block;
  }
}
.slider-controller {
  position: absolute;
  z-index: 10;
  top: 40%;
  border: none;
  outline: none;
  padding: 0;
  width: 45px;
  height: 50px;
  background-color: #111B23;
  border-radius: 3px;
  padding: 4px;

  & svg{
    display: block;
  }

  & svg path{
    color: #fff;
  }
}
.controller-right {
  right: 5%;
}
.controller-left {
  left: 5%;
}