.movie-info {
  display: flex;
  transition: all .6s ease;
}
.movie-info.light {
  background-color: #fff;
  color: #222;
}
.movie-info.dark {
  background-color: #111B23;
  color: #fff;

  & .movie-info-right p {
    color: #fff;
  }

  & .box h4, .box-inner .genre {
    color: #fff;
  }

  & .firs-line .minute-wrapper{
      color: #fff;
    & .minute {
      color: #fff;
    }
  }
  
}

.movie-info-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;

  & img {
    display: block;
    object-fit: cover;
  }
}
.movie-info-right {
  margin: 30px;

  & p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: #333;
  }

  & h3 {
    letter-spacing: 1.5px;
    margin: 30px 0;
  }
}
.firs-line {
  display: flex;
  align-items: center;

  & span {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 8px;
  }

  & p {
    border: 1px solid #333;
    padding: 6px 15px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;

    & span {
      font-weight: normal;
      margin-left: 5px;
      color: #333;
    }
  }

  & button {
    padding: 8px 15px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
  }
}
.sign-up {
  border: 1px solid rgb(240, 69, 97);
  background-color: rgb(240, 69, 97);

  &:hover {
    background-color: rgba(240, 69, 97, .8);
  }

  &:active {
    background-color: rgba(240, 69, 97, .6);
  }
}
.notwork {
  border: 1px solid #333;
  background-color: #222;

  &:hover {
    background-color: rgba(51, 51, 51, .8);
  }

  &:active {
    background-color: rgba(51, 51, 51, .6);
  }
}
.box {
  display: flex;
  align-items: center;
  margin: 0;
  color: #333;

  & h4 {
    margin: 0;
    margin: 5px 0 15px 0;
    padding: 5px 15px;
  }

  & .genre {
    border-radius: 3px;
    padding: 5px 5px;
    margin: 0;
    margin: 5px 0 15px 0;
  }
}